<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login - Spring Security Example</title>
    <style type="text/css">
	body div {
		text-align: center;
	}
	label, input[type=text], input[type=password] {
		display: inline-block;
		width: 150px;
		margin: 5px;
	}
	input[type=submit] {
		width: 60px;
		margin: 10px;
		padding: 10px;
		text-align: center;
	}
</style>
</head>
<body>
<div>
    <div>
        <h2>Customer Login</h2>
    </div>

    <div th:if="${param.error}">
        <p class="text-danger"
           th:utext="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">Error message</p>
    </div>
    <div th:if="${param.otp}">
        <p class="text-danger">
            For security reason, we've sent an One-Time-Password (OTP)
            to your email [[${param.email}]]<br/>
            Kindly check your email and use the provided OTP to login.<br>
            Note: The OTP will expire after 5 minutes.
        </p>
    </div>
    <div th:if="${param.logout}">
        <p class="text-warning">You have been logged out.</p>
    </div>

    <div th:if="${message != null}">
        <p class="text-primary">[[${message}]]</p>
    </div>

    <div>
        <form th:action="@{/login}" method="post" th:object="${user}">
            <div><label>Username: </label> <input type="email" th:field="*{email}" name="email" /></div>
            <p>Password:
                <input th:field="*{password}" type="password" name="password" class="form-control"
                       th:placeholder="${param.otp != null ? 'Your One Time Password' : 'Password'}" required />
            </p>
            <div><input type="submit" value="Login" /></div>

        </form>
        <a th:href="@{/forgot_password}">Forgot your password?</a>
    </div>
</div>
</body>
</html>